@using Common.Entities;
@{
    ViewBag.Title = "编辑黑名单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BlackListDetail
<div class="col_main">
    <div class="col_main_hd">
        <h2>新增优惠券</h2>
    </div>
    <div class="col_main_bd">
        <div class="inner">
            <div class="col_main_content">
                <form action="/Activtity/SaveBlackList" method="POST" id="J_PublishProductForm">
                    <table class="table table_border_td_none">
                        <tbody>



                            <tr>
                                <td class="right" width="120"><span class="highlight">*</span>商品编号：</td>
                                <td>
                                    <input type="text" class="inputtext float" name="GoodsNum" style="width:100px;" value="@Model.goodInfo.GoodsNum" readonly="readonly">
                                    <span class="tip"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="right" width="120"><span class="highlight">*</span>商品名：</td>
                                <td>
                                    <input type="text" class="inputtext float" name="GoodsNum" style="width:100px;" value="@Model.goodInfo.GoodsTittle" readonly="readonly">
                                    <span class="tip"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="right" width="120"><span class="highlight">*</span>商品类目：</td>
                                <td>
                                    <input type="text" class="inputtext float" name="GoodsNum" style="width:100px;" value="@Model.goodInfo.FirstTypeName" readonly="readonly">
                                    <span class="tip"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="right" width="120"><span class="highlight">*</span>区域</td>
                                <td>
                                    <select id="province"></select>
                                    <select id="city"></select>
                                    <select id="area"></select>
                                    <a id="addarea">添加区域</a>

                                </td>
                            </tr>
                            <tr>
                                <td class="right" width="120"><span class="highlight">*</span></td>
                                <td id="selectedArea">
                                    @foreach (var area in Model.Areas)
                    {
                        <a href="javascript:; " class="btn areaInfo" data-id="@area.AreaNum">@area.AreaName</a>
    }


                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn_confirm" style="margin-left:180px;">保存</button>
                    <input type="hidden" name="areaNums" id="areaNums" />
                    <input type="hidden" name="Id" value="@Model.Info.Id" />

                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/layer/layer.js"></script>
<script>
    var AreaList = [];

    $(function () {
        $(document).on("change", "#province", function () {
            LoadArea($(this).val(), $("#city"))
        });
        $(document).on("change", "#city", function () {
            LoadArea($(this).val(), $("#area"))
        });
        LoadArea("0", $("#province"))
        iniAreaList();
    })

    function iniAreaList() {
        $(".areaInfo").each(function () {
            var area = $.trim($(this).data("id")) + "_" + $(this).html();
            AreaList.push(area);
        });
        IniArea();
    }


    $("#addarea").click(function () {
        var area = $("#area").val() + "_" + $("#area").find("option:selected").text();
        if (AreaList.indexOf(area) > -1) {
            layer.msg("该区域已经存在！请勿重复添加！", { icon: 2 });
            return;
        }
        AreaList.push(area);
        IniArea();
    });

    function IniArea() {
        var html = "";
        var areaNums = "";
        $(AreaList).each(function () {
            var areaInfo = this.split("_");
            html += '<a href="javascript:; " class="btn areaInfo" data-id="' + this + '">' + areaInfo[1] + '</a>';
            areaNums += areaInfo[0] + ",";
        })
        $("#selectedArea").html(html);
        $("#areaNums").val(areaNums);

    }
    Array.prototype.removeByValue = function (val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) {
                this.splice(i, 1);
                break;
            }
        }
    }
    $(document).on("click", ".areaInfo", function () {
        var areaInfo = $(this).data("id");
            layer.confirm('确认要删除该区域吗？', {
                btn: ['确定', '取消']//按钮
            }, function (index) {
                layer.close(index);
                AreaList.removeByValue(areaInfo);
                IniArea();
            });


    });



    function LoadArea(num, obj) {
        $.post("/Common/GetAreaList", { num: num }, function (res) {
            var html = "";
            $(res).each(function () {
                html += '<option value="' + this.Num + '">' + this.Name + '</option>';
            });
            obj.html(html);
            obj.change();
        }, "json");
    }



    $("#addtype").change(function () {
        var id = $(this).val();
        if (id == 0) {
            $("#only").show();
            $("#more").hide();
        }
        else {
            $("#only").hide();
            $("#more").show();
        }
    })


    $("#SendGoodNum").blur(function () {
        var num = $(this).val();
        $.post("/Activtity/CheckGoods", { num: num }, function (e) {
            if (e.Stutas) {
                $("#SendGoodId").val(e.Result.Id)
                $("#SendGoodName").val(e.Result.GoodsTittle)
                $("#goodsTip").html(e.Result.GoodsTittle);
            }
            else {
                $("#SendGoodId").val("")
                $("#SendGoodName").val("")
                $("#goodsTip").html("商品编号有误，请重新输入！");

            }
        }, "json");
    });

    $("#TypeId").change(function () {
        var typeName = $(this).find("option:selected").text();
        $("#TypeName").val(typeName);
    })

</script>