@using Model;
@{
    ViewBag.Title = "OrderPayContrast";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var typeList = (List<UserType>)ViewBag.TypeList;
    var saleList = (List<UserInfo>)ViewBag.SalePeople;
    var sendList = (List<UserInfo>)ViewBag.SendPeople;


}
<link type="text/css" rel="stylesheet" href="/Content/js/lib/laydate/need/laydate.css">
<link type="text/css" rel="stylesheet" href="/Content/js/lib/laydate/skins/ymy/laydate.css" id="LayDateSkin">
<script type="text/javascript" src="/Content/js/lib/laydate/laydate.js"></script>

<div class="col_main">
    <div class="col_main_hd">
        <h2>
            应收未收对比                                <button type="submit" style="float: right;margin-right: 15px;background: #c40000;border: none;"><a href="http://183.131.13.228:8080/agent/财务管理-应收未收对比.htm" target="_blank" style="color: #ffffff;font-weight: bold;font-size: 13px;">帮助</a></button>
        </h2>
    </div>
    <div class="col_main_bd">
        <div class="inner">
            <div class="col_main_content">
                <div class="search_bar">
                    <ul class="search_item_list">
                        <li class="search_item">
                            <select name="time_type" id="time_type">
                                <option value="1" selected="selected">下单时间</option>
                                <option value="2">收款时间</option>
                            </select>
                            <div class="item">
                                <div class="calendar_input">
                                    <input type="text" name="starttime" id="starttime" style="width:160px;" value="@(DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd 16:00:00"))" onclick="laydate({format:'YYYY-MM-DD hh:mm:00', istime:true});">
                                </div>
                                到
                                <div class="calendar_input">
                                    <input type="text" name="endtime" id="endtime" style="width:160px;" value="@(DateTime.Now.ToString("yyyy-MM-dd 16:00:00"))" onclick="laydate({format:'YYYY-MM-DD hh:mm:00', istime:true});">
                                </div>
                            </div>
                        </li>
                        <li class="search_item">
                            <label>订单号:</label>
                            <input type="text" placeholder="请输入订单号查询" value="" name="keyword" id="keyword">
                        </li>
                        <li class="search_item">
                            <label>送货员：</label>
                            <select name="deliveryman_id" id="deliveryman_id">
                                <option value="">请选择</option>
                                @foreach (var send in sendList)
                                {
                                    <option value="@send.UserId">@send.UserName</option>
                                }
                            </select>
                        </li>
                        <li class="search_item">
                            <label>业务员：</label>
                            <select name="salesman_id" id="salesman_id">
                                <option value="0" selected="">全部</option>
                                @foreach (var sale in saleList)
                                {
                                    <option value="@sale.UserId">@sale.UserName</option>
                                }
                            </select>
                        </li>
                        <li class="search_item">
                            <label>收款类型：</label>
                            <select name="pay_state" id="pay_state">
                                <option value="-1">全部</option>
                                <option value="0">未收款</option>
                                <option value="1">已收款</option>
                            </select>
                        </li>
                        <li class="search_item">
                            <label>客户类型:</label>
                            <select name="customer_type" id="customer_type">
                                <option value="-1" selected="selected">全部</option>
                                @foreach (var type in typeList)
                                {
                                    <option value="@type.TypeId" >@type.TypeName</option>
                                }
                            </select>
                        </li>
                        <li class="search_item">
                            <label>是否下载:</label>
                            <select name="filedown">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </li>
                        <li class="clearfix"></li>
                        <li class="search_item">
                            <button type="button" id="seatch">搜索</button>
                            <input type="hidden" name="in_search" value="yes">
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </div>
                <table class="table table_border_td_none orderinfo" style="display:none" id="orderinfo">
                    <tbody>
                        <tr>
                            <td colspan="7" id="timespan">时间段：2018-04-08 16:00:00至2018-04-09 16:00:00</td>
                        </tr>
                        <tr>
                            <td id="totalCount">订单总数：20</td>
                            <td id="PayCount" class="highlight">已收数量：0</td>
                            <td id="PayMoeny" class="highlight">已收金额：0.00</td>
                            <td id="NotPayCount">未收数量：20</td>
                            <td id="NotPayMoeny">未收金额：32417.20</td>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table_border orderinfo" style="display:none" id="itmeList">
                    <thead class="bg_color">
                        <tr>
                            <th class="center">订单编号</th>
                            <th class="center">订单时间</th>
                            <th class="center">区域</th>
                            <th class="center">小店编号</th>
                            <th class="center">应收金额</th>
                            <th class="center">实收金额</th>
                            <th class="center">送货人</th>
                            <th class="center" width="45">是否收款</th>
                            <th class="center">订单状态</th>
                            <th class="center">支付类型</th>
                            <th class="center">收款时间</th>
                            <th class="center">收款人</th>
                            <th class="center">备注</th>
                        </tr>
                    </thead>
                    <tbody id="dataList">
                        <tr>
                            <td class="center"><a href="http://agent.pifa.yunmayi.com/trade/orderUnusual?order_id=1804081635017179">1804081635017179</a></td>
                            <td class="center">2018-04-08 16:35:00</td>
                            <td class="center">瓯海1</td>
                            <td class="center">577029560</td>
                            <td class="center">623.90</td>
                            <td class="center">623.90</td>
                            <td class="center"></td>
                            <td class="center">
                                <span class="tip notPay" style="cursor:pointer;" data-id="1804081635017179">未收</span>
                            </td>
                            <td class="center">等待商家发货</td>
                            <td class="center">货到付款</td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/layer/layer.js"></script>
<script>
    $("#seatch").click(function () {
        //int timeType,string start,string end,string orderNum,string send,string sale,int uerType,int paystutas = -1
        var timeType = $("#time_type").val();
        var start = $("#starttime").val();
        var end = $("#endtime").val();
        var orderNum = $("#keyword").val();
        var send = $("#deliveryman_id").val();
        var sale = $("#salesman_id").val();
        var uerType = $("#customer_type").val();
        var paystutas = $("#pay_state").val();

        var para = {};
        para.timeType = timeType;
        para.start = start;
        para.end = end;
        para.orderNum = orderNum;
        para.send = send;
        para.sale = sale;
        para.uerType = uerType;
        para.paystutas = paystutas;
        $.post("/Order/GetPayContrast", para, function (e) {
            var html = "";
            if (e.ListData == null || e.ListData.length < 1) {

                return;
            }
            else {
                $("#timespan").html("时间段：" + start + "至" + end);
                $("#totalCount").html(e.OrderCout);
                $("#PayCount").html("已收数量:" + e.PayCount);
                $("#PayMoeny").html("已收金额:" + e.PayMoeny);
                $("#NotPayCount").html("未收数量:" + e.NotPayCount);
                $("#NotPayMoeny").html("未收金额:" + e.NotPayMoeny);
                var html = "";
                $(e.ListData).each(function () {
                    html += "<tr>";
                    html += '<td class="center"><a href="http://agent.pifa.yunmayi.com/trade/orderUnusual?order_id=1804081635017179">1804081635017179</a></td>';
                    html += ' <td class="center">' + this.CreateTime + '</td>';
                    html += ' <td class="center">瓯海1</td>';
                    html += ' <td class="center">' + this.CreateUserNum + '</td>';
                    html += '  <td class="center">' + this.RealMoney + '</td>';
                    html += '  <td class="center">' + this.PayMoney + '</td>';
                    html += '  <td class="center">' + this.SendPeople + '</td>';

                    html += ' <td class="center">';
                    if (this.IsPay) {
                        html += '<span class="highlight">已收</span>';
                        html += '<button type="button" class="J_DetelePay click_1804081720026688" data-id="' + this.Id + '" style="width:70px;">撤销</button>';
                    }
                    else {
                        html += '      <span class="tip notPay" style="cursor:pointer;" data-id="1804081635017179">未收</span>';
                    }
                    html += '    </td>';
                    html += '   <td class="center">' + GetStutasStr(this.Stutas) + '</td>';
                    html += '   <td class="center">货到付款</td>';
                    html += '  <td class="center">' + this.PayTime + '</td>';
                    html += '  <td class="center">' + this.ReceiveUserName + '</td>';
                    html += '    <td class="center">' + this.Remark + '</td>';
                    html += ' </tr>';
                })
                $("#dataList").html(html);
                $(".orderinfo").show();
            }
        }, "json")
    })


    $(document).on("click", ".J_DetelePay", function () {
        var id = $(this).data("id");
        layer.confirm('是否要撤销该订单的已收标记？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.post("/Order/RevertOrderIsPay", { orderId: id }, function (e) {
                if (e) {
                    layer.msg("撤销成功！", { icon: 1 }, function () {
                        $("#seatch").click();
                    });
                }
                else {
                    layer.msg("撤销失败！请刷新后重试！", { icon: 2 });
                }
            },"json")

        }, function () {
        });
    })

    function GetStutasStr(code) {
        var str = ""
        switch (code) {
            case 0:
                str = "等待商家发货";
                break;
            case 1:
                str = "商家已发货";
                break;
            case 2:
                str = "交易完成";
                break;
            case 3:
                str = "订单取消中";
                break;
            case 4:
                str = "订单取消成功";
                break;
            case 5:
                str = "退货中";
                break;
            case 6:
                str = "退货成功";
                break;
        }
        return str;
    }

</script>