@using Common.Entities;
@{
    Layout = null;
    var list = (List<PickUpModel>)ViewBag.List;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPickUpBill</title>
</head>
<body>
    <div id="wraper">
        <div id="main">
            <div class="module" style="width:900px;">
                <h1>拣货单</h1>
                <p style="float: right;">总单数:@list.Count 单</p>

                @foreach (var billItem in list)
    {
        int num = 0;
        decimal total = 0;

            <p class="clearfix" style="clear: both;">
                <span class="mark" style="margin-left:50px;">@billItem.Mark</span>&nbsp;:&nbsp;@billItem.OrderNum                            <span class="rfloat" style="margin-right:50px;">时间&nbsp;:&nbsp;@billItem.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
            </p>
            <table class="table table_border">
                <thead class="bg_color">
                    <tr>
                        <th>序号</th>
                        <th>商品名称</th>
                        <th>规格</th>
                        <th>单位</th>
                        <th>单价(元)</th>
                        <th>数量</th>
                        <th>商品总价(元)</th>
                        <th>条形码</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in billItem.Items)
        {
            num++;
            total += item.TotalPirce;
            <tr>
                <td>@num</td>
                <td>
                    @item.ProductName<br>
                </td>
                <td>@item.Spec</td>
                <td>@item.Unit</td>
                <td>@item.Pirce</td>
                <td>@item.Count</td>
                <td>@item.TotalPirce</td>
                <td>@item.BarCode</td>
            </tr>
}
                    <tr>
                        <td colspan="8" class="center">总价:@total</td>
                    </tr>
                </tbody>
            </table>
}

            </div>
        </div>
    </div></body>
</html>
