@using Model
@{
    Layout = null;
}
@model GoodInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>商品信息</title>
    <link href="~/Content/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />

    <style>
        .tittle {
            height: 40px;
            line-height: 40px;
            background-color: #f2f2f2;
            width: 100%;
            position: fixed;
            z-index: 99;
            bottom: 0px;
            top: 0px;
            left: 0px;
        }

        .add_div {
            height: 40px;
            line-height: 40px;
            background-color: #f2f2f2;
            width: 100%;
            z-index: 99;
            bottom: 0px;
        }

        .goodstittle {
            font-weight: 700;
        }

        .price {
            color: red;
        }

        .btns button {
            background-color: #f2f2f2;
            padding: 5px 10px;
            width: 50px;
        }

        .info {
            width: 80%;
        }

        .return {
            position: absolute;
            left: 10px;
            top: 5px;
        }

        .content {
            margin-left: 20px;
        }

        .remark {
            margin-top: 20px;
            width: 100%;
        }

        #owl-demo {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

            #owl-demo .item {
                display: block;
            }

            #owl-demo img {
                display: block;
                width: 100%;
            }

        #jiesuan {
            border-radius: 3px;
            border: 1px solid red;
            background-color: red;
            color: white;
            width: 80%;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
            margin-left: 10%;
            margin-top: 60px;
        }
    </style>
    <script src="~/Scripts/Vue/vue.min.js"></script>
    <script src="~/Scripts/Vue/vue-resource.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>

</head>
<body>
    <div id="app">
        <div class="tittle" style="text-align: center;"><div class="return" @@click="history.go(-1)"><img src="~/Content/images/back.png" height="32" width="32" /></div>商品详情</div>
        <div style="height: 50px;width: 100%;"></div>
        <div id="owl-demo" class="owl-carousel">
            @if (!string.IsNullOrWhiteSpace(Model.pic1))
            {
                <a class="item"><img src="@Model.pic1" alt="" style="width: 100%;height: 200px"></a>
            }
            @if (!string.IsNullOrWhiteSpace(Model.pic2))
            {
                <a class="item"><img src="@Model.pic2" alt="" style="width: 100%;height: 200px"></a>
            }
            @if (!string.IsNullOrWhiteSpace(Model.pic3))
            {
                <a class="item"><img src="@Model.pic3" alt="" style="width: 100%;height: 200px"></a>
            }
            @if (!string.IsNullOrWhiteSpace(Model.pic4))
            {
                <a class="item"><img src="@Model.pic4" alt="" style="width: 100%;height: 200px"></a>
            }
            @if (!string.IsNullOrWhiteSpace(Model.pic5))
            {
                <a class="item"><img src="@Model.pic5" alt="" style="width: 100%;height: 200px"></a>
            }
        </div>
        <div class="content">
            <div class="goodstittle">@Model.GoodsTittle</div>
            <div><span class="price">@Model.BasePrice</span>/<span class="unit">@Model.Unit</span></div>
            <div class="spec">@Model.Spec</div>
            <div class="count"><button v-on:click="mus">-</button><input type="number" style="width:40px;text-align:center" v-model="count" /><button v-on:click="add">+</button></div>
            <div class="remark">
                <textarea cols="4" placeholder="商品规格备注" style="width: 93%;height: 80px;border: 1px solid"></textarea>
            </div>
        </div>
        @if (0 > 0)
        {
            <button id="jiesuan" v-on:click="addToShoppingCar">添加到购物车</button>
        }
        else
        {
            <button id="jiesuan" v-on:click="addToShoppingCar" style="background-color:gray">售罄</button>

        }
        <input type="hidden" v-model="goodsId" id="goodsId" value="@ViewBag.GoodsId">
    </div>


    <script>
        var app = new Vue({
            el: "#app",
            data:
            {
                goodsId: "@ViewBag.GoodsId",
                count:1,
            },
            methods: {
                addToShoppingCar: function () {
                    if (this.count < 1) {
                        alert("请输入正确的数量！");
                        return;
                    }

                    this.$http.post('/APP/AddToShoppingCar', { goodId: this.goodsId, count: this.count }, { emulateJSON: true }).then(function (res) {
                        var res = JSON.parse(res.body);
                        if (res.Stutas) {
                            alert("添加成功！");
                        }
                        else {
                            alert(res.Msg);
                        }
                    }, function (res) {
                        console.log(res.status);
                    });
                },
                add: function () {
                    this.count++;
                },
                mus: function () {
                    this.count--;
                    if (this.count < 1)
                        this.count = 1;
                }

            }
        })

        function loadImg() {
            $("owl-demo").width($("body").width)
            $('#owl-demo').owlCarousel({
                items: 1
            });
        }
        loadImg();
    </script>
</body>
</html>
